use std::io;

fn main() {
    let mut count=String::new();
    //let mut num1=String::new();
    //let mut num2=String::new();
    loop {

        println!("Please choose one of the following:");
        println!("1) Addition");
        println!("2) Subtraction");
        println!("3) Multiplication");
        println!("4) Division");
        println!("5) Exit");

        io::stdin()
            .read_line(&mut count)
            .expect("Failed to read line");

        let count: i32 = count
            .trim()              // Remove newline and spaces
            .parse()             // Try parsing it into i32
            .expect("Not a valid number");

        match count {
            1 => {
                println!("Please enter two numbers: ");
            },
            2 => {

            },
            3 => {

            },
            4 => {

            },
            5 => {
                break;
            },
            _ => {
                println!("Invalid Input: Please try again");
            }
        }
    }
}